<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dragon.launcher.template.extension">

    <!-- Add your specific permissions here -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    
    <!-- Required permission for communication with Dragon Launcher -->
    <uses-permission android:name="com.dragon.launcher.APP_EXTENSION" />

    <application
        android:allowBackup="true"
        android:label="Dragon Template Extension"
        android:supportsRtl="true">

        <service
            android:name=".TemplateExtensionService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.dragon.launcher.APP_EXTENSION">
            <intent-filter>
                <action android:name="com.dragon.launcher.ACTION_TEMPLATE_COMMAND" />
            </intent-filter>
        </service>

    </application>

</manifest>
