<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Requires Shizuku to be installed and granted -->
    <uses-permission android:name="moe.shizuku.privilege.permission.API_V23" />
    
    <!-- Permission for Dragon Launcher to access this service -->
    <uses-permission android:name="org.dragon.launcher.APP_EXTENSION" />

    <application
        android:allowBackup="true"
        android:label="Dragon Shizuku Installer Extension"
        android:supportsRtl="true">

        <service
            android:name=".ShizukuInstallerService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.dragon.launcher.APP_EXTENSION">
            <intent-filter>
                <action android:name="org.dragon.launcher.ACTION_INSTALL_APK" />
            </intent-filter>
        </service>

    </application>

</manifest>
