<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission Internet nécessaire pour l'extension -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Permission personnalisée définie par l'app principale pour sécuriser la communication -->
    <uses-permission android:name="org.elnix.dragonlauncher.APP_EXTENSION" />

    <application
        android:allowBackup="true"
        android:label="Dragon Internet Proxy Extension"
        android:supportsRtl="true">

        <service
            android:name=".ProxyExtensionService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.elnix.dragonlauncher.APP_EXTENSION">
            <intent-filter>
                <action android:name="org.elnix.dragonlauncher.ACTION_PROXY_FETCH" />
            </intent-filter>
        </service>

    </application>

</manifest>
