<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <uses-permission android:name="org.elnix.dragonlauncher.APP_EXTENSION" />

    <application
        android:allowBackup="true"
        android:label="Dragon Weather Extension"
        android:supportsRtl="true">

        <service
            android:name=".WeatherExtensionService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.elnix.dragonlauncher.APP_EXTENSION">
            <intent-filter>
                <action android:name="org.elnix.dragonlauncher.ACTION_WEATHER_UPDATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".WeatherSettingsActivity"
            android:exported="true"
            android:label="Weather Settings"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="org.elnix.dragonlauncher.ACTION_WEATHER_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
